<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head'); -%>

    <body>
        <!-- Navigation-->
        <%- include('layouts/navigation'); -%>

        <!-- Page Header-->
        <header class="masthead">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Dashboard</h1>
                            <p>DriveTest Booking Kiosk</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content-->
        <section class="pt-5 pb-5">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        
                        <% if(loggedIn == 'admin' , 'examiner'){ %>
                        <!-- Post preview-->
                        <div class="post-preview">
                            <h2 class="mb-1"><b>You can book G2/G drive test from this kiosk</b></h2>
                            <p class="mb-1">You can book G2/G drive test from this kiosk </p>
                        </div>
                
                        <% } else { %>
                        <!-- Post preview-->
                        <div class="post-preview">
                            <a href="/g2_page">
                                <h2 class="post-title">G2 Test</h2>
                                <h3 class="post-subtitle">Book your G2 Test</h3></a>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />
                        <!-- Post preview-->
                        <div class="post-preview">
                            <a href="/g_page">
                                <h2 class="post-title">G Test</h2>
                                <h3 class="post-subtitle">Book your G Test</h3>
                            </a>
                        </div>
                        <% } %>      
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <%- include('layouts/footer'); -%>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>

</html>